.rui-paginator {
  margin: 10px 0;
}

.rui-paginator .rui-slider {
  width: 100%;
}

.rui-paginator .rui-paginator-pages-wrapper {
  width: 100%;
  overflow: hidden;
}

.rui-paginator .rui-paginator-pages {
  display: inline-block;
  white-space: nowrap;
}

.rui-paginator .rui-paginator-pages li {
  display: inline-block;
  width: 40px;
  height: 20px;
  text-align: center;
}

.rui-paginator .rui-paginator-pages li a, .rui-paginator .rui-paginator-pages li span {
  line-height: 20px;
  padding: 0 5px;
}

.rui-paginator .rui-paginator-pages li.current span {
  background: #ccc;
}