.puffer_tree *
{
    font-size: 8pt;
}

.puffer_tree li
{
    list-style: none;
    position: relative;
}

.puffer_tree li ul
{
    margin-left: 20px;
}

.puffer_tree li .record
{
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.puffer_tree li .record dt
{
    white-space: nowrap;
}

.puffer_tree li .record dd
{
    width: 50px;
    white-space: nowrap;
    padding: 5px;
    padding-left: 20px;
}

.puffer_tree li .record dt > span
{
    display: table-cell;
    *display: inline;
    zoom: 1;
    padding: 5px;
    white-space: normal;
    vertical-align: top;
}

.puffer_tree li .record dt > span.handle
{
    padding-right: 10px;
    color: #999;
}

.puffer_tree li .record .toggle
{
    position: absolute;
    left: -20px;
}

.puffer_tree li .record .toggle a
{
    color: #999;
    text-decoration: none;
}
