.list_grid {
    word-spacing: -0.5em;
    margin-left: -5px;
    margin-top: -5px;
}

.list_grid li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 170px;

    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;

    word-spacing: normal;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}