<%= fields_for @record, options[:builder] do |f| %>
  <div class="label">
    <%= f.label field %>
    <div class="field_error">
      <%= @record.errors[field.name.to_sym].first %>
    </div>
  </div>
  <%= f.password_field field, field.input_options %>
<% end %>
