<ul class="form">
<% (action == 'new' ? create_fields : update_fields).each do |field| -%>
  <li><%= f.puffer_field field %></li>
<% end -%>
</ul>

<div class="buttons">
  <%= f.submit 'Save' %>
  <%= f.submit 'Save and exit' %>
  <%= link_to 'cancel', (request.referer || resource.index_path) %>
</div>
