<ul class="list_grid">
<% records.each do |record| -%>
  <li>
    <% grid_fields.each do |field| -%>
      <div><%= field.render :grid, controller, record %></div>
    <% end -%>
    <%= yield record %>
  </li>
<% end -%>
</ul>