<ul class="form">
<% (action == 'new' ? create_fields : update_fields).each do |field| -%>
  <li><%= f.puffer_field field %></li>
<% end -%>
</ul>

<div class="buttons">
  <%= f.submit t('puffer.save') %>
  <%= f.submit t('puffer.save_and_exit') %>
  <%= link_to 'cancel', (request.referer || resource.collectin_path) %>
</div>
