<% @title = "Edit #{resource.human}" %>
<h1><%= @title %></h1>
<%= form_for record, :url => resource.member_path, :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :action => 'edit' } %>
<% end %>

