<% @title = "Show #{resource.human}" %>
<h1><%= @title %></h1>
<ul class="show_entry">
  <% if resource.children.present? %>
    <li>
      <h2>Associations</h2>
      <% resource.children.each do |child| %>
        <%= link_to child.human, child.collection_path %>
      <% end %>
    </li>
  <% end %>

<% show_fields.each do |field| -%>
  <li>
    <h2><%= field.human %></h2>
    <div>
      <%= render_field field, record %>
    </div>
  </li>
<% end if show_fields && record -%>
</ul>

