body, html
{
	behavior: url(csshover.htc);
	height: 100%;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000;
    background: #3D576D;
}

a
{
	color: #f60;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

h1
{
    font-size: 21px;
    margin-bottom: 10px;
}

h2
{
    font-size: 17px;
    margin-bottom: 10px;
}

.body
{
	position: relative;
	height: auto !important;
    height: 100%;
    min-height: 100%;
	margin: 0 auto;
	width: 100%;
}

.header
{
	height: 120px;
	position: relative;
}

.logo
{
	position: absolute;
    top: 10px;
    left: 20px;
}

.logo a, .logo span
{
    color: #ddd;
    font-size: 30pt;
    font-weight: bold;
    text-decoration: none;
    text-shadow: #0A2337 -1px -1px 0;
}

.logout
{
    position: absolute;
    top: 35px;
    right: 10px;
}

.navigation
{
    position: absolute;
    left: 12px;
    bottom: 20px;
}

.namespaces
{
    position: absolute;
    right: 10px;
    top: 0;
}

.dashboard .navigation
{
    margin-bottom: 10px;
}

.navigation > li, .namespaces > li
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.namespaces > li
{
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.navigation > li:hover, .navigation > li.selected, .namespaces > li:hover, .namespaces > li.selected
{
    -moz-box-shadow: -1px -1px 0 #0A2337;
    -webkit-box-shadow: -1px -1px 0 #0A2337;
    box-shadow: -1px -1px 0 #304759;
    background: #536C80;
}

.navigation > li > a, .navigation > li > span, .namespaces > li > a, .namespaces > li > span
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #ddd;
    padding: 7px 12px;
    font-size: 11pt;
    text-decoration: none;
    text-shadow: #304759 -1px -1px 0;
}

.namespaces > li > a, .namespaces > li > span
{
    padding: 5px 12px;
}

.sidebar .navigation, .dashboard .navigation
{
    position: static;
}

.sidebar .navigation > li, .dashboard .navigation > li
{
    display: block;
    margin-bottom: 5px;
}

.dashboard .navigation > li
{
    background: #536C80;
}

.dashboard .navigation > li:hover, .dashboard .navigation > li.selected
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar .navigation > li > a
{
    display: block;
}

.sidebar .navigation > li .additional dt
{
    margin-bottom: 2px;
}

.sidebar .navigation > li .additional dd
{
    margin-bottom: 8px;
}

.sidebar .navigation > li .additional, .dashboard .navigation > li ul.additional
{
    padding: 10px 12px;
    background: #eee;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dashboard .navigation > li ul.additional
{
    padding: 6px 6px;
}

.dashboard .navigation > li ul.additional li
{
    list-style: none;
    padding: 5px 12px;
}

.dashboard .navigation > li ul.additional li > a
{
    color: #222;
    font-size: 10pt;
}

.columns
{
	width: 100%;
	display: table;
	clear: both;
}

.column
{
	display: table-cell;
	vertical-align: top;
}

.column,
{
	display: inline;
	vertical-align: top;
    width: expression(function(t){
      var sum = 0;
      for (var i = 0; i < t.parentNode.childNodes.length; i++) {
        if (t.parentNode.childNodes[i] != t) {
          sum += t.parentNode.childNodes[i].offsetWidth;
        }
      }
      return t.parentNode.clientWidth - sum + 'px';
	}(this));
	zoom: 1;
}

.sidebar
{
	width: 250px;
}

.padder
{
    padding: 0 12px;
}

.content
{
    min-height: 300px;
    -moz-box-shadow: -1px -1px 0 #0A2337;
    -webkit-box-shadow: -1px -1px 0 #0A2337;
    box-shadow: -1px -1px 0 #304759;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
    padding: 30px;
}

.sessions
{
    min-height: 10px;
    margin: 50px auto 0 auto;
    width: 400px;
}

.dashboard
{
    min-height: 10px;
    margin-left: 20px;
}

.list_table
{
    width: 100%;
    margin: 0;
    line-height: 140%;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.list_table *
{
    font-size: 8pt;
}

.list_table tr
{
    vertical-align: top;
}

.list_table td.actions
{
    white-space: nowrap;
    width: 50px;
}

.list_table th
{
    text-align: left;
    background: #eee;
    white-space: nowrap;
    overflow: hidden;
    max-width: 15px;
}

.list_table th a
{
    text-decoration: none;
    border-bottom: 1px dotted #333;
}

.list_table th a:hover
{
    border-bottom: none;
}

.list_table td, .list_table th
{
    padding: 5px;
}

.list_table td:first-child, .list_table th:first-child
{
    padding-left: 10px;
}

.list_table td:last-child, .list_table th:last-child
{
    padding-right: 10px;
}
.list_table td
{
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.list_table tr:last-child td
{
    border: none;
}

.list_table tbody tr:hover
{
    background: #f4f4f4;
}

label, input, textarea, select
{
	font-family: Helvetica, Arial, sans-serif;
}

input[type=text], input[type=password], textarea
{
    border: #ccc solid 1px;
    font-size: 11pt;
    padding: 3px 0;
    border-radius: 3px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus
{
    border: #536C80 solid 1px;
}

input[type=submit]
{
    border: 0;
    border-radius: 3px;
    background: #536C80;
    color: #ddd;
    text-shadow: -1px -1px 0 #304759;
    padding: 3px 10px;
    font-size: 11pt;
}

select
{
    font-size: 11pt;
}

#search
{
    width: 120px;
}

.form
{
    margin-bottom: 30px;
}

.form li
{
    list-style: none;
    margin-bottom: 8px;
}

.form li .label
{
    margin-bottom: 3px;
}

.form li .label *
{
    display: inline;
}

.form li label
{
    font-size: 10pt;
    font-weight: bold;
}

.form li input[type=text], .form li input[type=password], .form li textarea
{
    width: 100%;
}

 .form li textarea
{
    height: 60px;
}

.field_error
{
    color: #C83E3E;
}

.association
{
    position: relative;
}

.association input[disabled]
{
    text-indent: 25px;
}

.association .association_clear
{
    position: absolute;
    top: 4px;
    left: 9px;
    cursor: pointer;
    display: none;
}

.association .association_clear:hover
{
    color: #b00;
    text-shadow: 1px 1px 2px #555;
}

.association input[disabled] ~ .association_clear
{
    display: block;
}

.association .rui-autocompleter li .description
{
    display: none;
    margin: 5px 10px;
}

.association .rui-autocompleter li .description li
{
    margin: 0;
    padding: 0;
}

.association .rui-autocompleter li:hover .description
{
    display: block;
}
