<%= fields_for @record, options[:builder] do |f| %>
  <div class="label">
    <%= f.label field %>
    <div class="field_error">
      <%= @record.errors[field.name.to_sym].first %>
    </div>
  </div>
  <%= f.select field, @options, {:include_blank => field.options.key?(:include_blank) ? field.options[:include_blank] : true }, field.input_options %>
<% end %>
