<%= form_for record, :url => admin_session_path, :method => :post do |f| %>
  <ul class="form">
  <% create_fields.each do |field| -%>
    <li><%= field.render :create, controller, record %></li>
  <% end -%>
  </ul>

  <div class="buttons">
    <%= f.submit 'Login' %>
  </div>
<% end %>
