<%= fields_for @record do |f| %>
  <div class="label">
    <%= f.label field %>
    <div class="field_error">
      <%= @record.errors[field.reflection.foreign_key.to_sym].first ||
        @record.errors[field.name.to_sym].first.presence %>
    </div>
  </div>
  <%#= f.hidden_field field, field.input_options %>
  <%= link_to "Choose", '#', :data => {"new-dialog-uri" => event_path(:choose)} %>
<% end %>
