<% content_for :header do %>
  <ul class="namespaces">
    <% puffer_namespaces_navigation do |title, path, current| %>
      <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title, path %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :content do %>
  <div class="content dashboard">
    <%= yield %>
  </div>
<% end %>

<%= render :file => 'layouts/puffer_base' %>
